<!--{% extends '_base.html' %}-->

<!--{% block content %}-->

<!--<div class="d-flex justify-content-center">-->
    <!--<div class="col-md-4 col-lg-6">-->
        <!--<div class="dash-right">-->
            <!--<div class="widget-info margin-top-large">-->
                <!--<div class="widget-body">-->
                        <!--<form method="POST" action="{% url 'userrole:field_engineer_delete' object.id%}">{% csrf_token %}-->
                        <!--Click Yes To Delete {{object.user}}-->
                        <!--<button type="submit">YES</button>-->
                        <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--{% endblock content %}-->