{% extends '_base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">More</li>
                </ol>
    </nav>
            <div class="widget-info margin-top-large">
            <div class="widget-head">
                <h4><a href="#" title="">User List</a></h4>
            </div>
            <div class="widget-body">
               {% for user in users %}
                     {{ forloop.counter }}.{{ user }}<br>
               {% endfor %}
            </div>
        </div>


{% endblock content %}