{% extends '_base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">{% if request.user.is_superuser %}
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>

        {% endif %}
            <li class="breadcrumb-item active" aria-current="page">User Create</li>
        </ol>
    </nav>
   <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div class="">
                            <button type="submit" class="btn btn-success"></i> Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </div>
{% endblock content %}
{% block extra_script %}
    {% render_bundle 'project' 'js' %}
{% endblock extra_script %}