{% extends '_base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
                <ol class="breadcrumb">{% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
                    {% else %}<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">Password Change</li>
                </ol>
    </nav>
    <form action="" method="post">{% csrf_token %}
        <p>Old password: {{ form.old_password }}</p>
        <p>New password: {{ form.new_password1 }}</p>
        <p>New password confirmation: {{ form.new_password2 }}</p>
    <input type="submit">

    </form>
{% endblock content %}