{% extends '_base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}

        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">{% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
                    {% else %}<li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">Create User</li>
                </ol>
            </nav>
        </div>

<!--         <div class="d-flex justify-content-center">
        <div class="col-md-3 col-lg-6">
            <div class="dash-right">
                <div class="widget-info margin-top-large">
                           <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary">
                    </form>
                        </div>
                    </div>
                </div>
            </div> -->
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <form method="post">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputSchoolName">Password</label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputSchoolName">Password Confirmation</label>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputType">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputType">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Email</label>
                                {{ form.email }}
                            </div>
                        <div class="">
                            <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Submit</button>
                         </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_script %}
    {% render_bundle 'project' 'js' %}
{% endblock extra_script %}
