{% extends '_base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">{% if request.user.is_superuser %}
        <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
        {% endif %}
    </ol>
</nav>

<div class="d-flex justify-content-center">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <div class="widget-head">
                        <h4><a href="#" title="">CheckList</a></h4>
                            <span class="tools pull-right"><a href="{% url 'core:export' %}"><button>Export</button></a></span>
                    </div>
                    <form method="post">{% csrf_token %}
                        <!--{{form.as_p}}-->
                        <div class="mb-3 pb-3 bg-white">
                            <div class="table-responsive">
                                <table id="checklist" class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.N</th>
                                            <th>Checklist</th>
                                            <th>Status</th>

                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for checklist in checklists %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{checklist.text}}</td>
                                            <td>{% if checklist.status is True %}
                                                <i class="fa fa-check-circle"></i>
                                                {% else %}
                                                <i class="fa fa-times-circle"></i>
                                                {% endif %}</td>

                                            <td>Edit</td>
                                            <td><a href="{% url 'core:checklist_delete' checklist.pk %}">Delete</a></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script>

     var baseUrl = 'http://localhost:8000/';
     //var baseUrl = 'http://bccms.naxa.com.np/';


    $("#id_step").change(function () {
      var stepId = $(this).val();
         var current_url = document.URL;
            var siteId = current_url.split('/')[5];

      $.ajax({
        url: baseUrl+'core/api/load-substeps',
        data: {
          'step_id': stepId,
            'site_id': siteId,
        },
        success: function (data) {
          $("#id_substep").html(data);
            console.log(data);
        }
      });

    });
  </script>

{% endblock %}