{% extends '_base.html' %}

{% block content %}
<style>
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:500px;
  overflow:auto;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
.site_icon_float {

    padding: 30px;

}
</style>

<div class="row no-gutters">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project_id %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Community Users List</li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-center" style="margin-top: 20px">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <h3>Community Users</h3>
                   <p><br>
                       <div class="widget-body">
                          <table id="gallery" class="table table-bordered">
                            <thead>
                            <tr>
                              <th>S.N</th>
                              <th>User</th>
                              <th colspan="2">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for cm in community_member %}
                              <tr>
                                <td class="filterable-cell">{{ forloop.counter }}</td>
                                <td class="filterable-cell"><a href="{% url 'core:user_profile_detail' cm.user.pk %}">{{ cm.user }}</a></td>
                                <td class="filterable-cell">{% if cm.verified == True %}Verified{% else %}Unverified{% endif %}</td>
                                <td class="filterable-cell"><a href="{% url 'core:change_cm_status' project_id cm.user.id %}">Change</a></td>
                              </tr>

                              {% endfor %}
                            </tbody>
                          </table>
                       </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}