{% extends '_base.html' %}

{% block content %}

<div class="d-flex justify-content-center" style="margin-top: 20px">
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <h3>Community Users</h3>
                   <p><br><br>
                    <ul class="submission-list">
                    {% for community_users in community_users_list %}
                    <li>{{forloop.counter}}. <a href="{% url 'core:user_profile_detail' community_users.user.id %}">{{community_users.user}}</a> <br></li>
                    {% empty %}
                    <p>
                        Community Users not found.
                    </p>
                    {% endfor %}
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}