{% extends '_base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block extra_css %}    
    <script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"></script>
{% endblock extra_css %}

{% block content %}
<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">{% if request.user.is_superuser %}
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">{{ project }}</a></li>
            {% if step %}
            <li class="breadcrumb-item"><a href="{% url 'core:construction_step_update' step.pk %}">{{ step }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit {{ step }}</li>
            {% else %}
            <li class="breadcrumb-item active" aria-current="page">New Step</li>
            {% endif %}
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
            {% if step %}
            <li class="breadcrumb-item"><a href="{% url 'core:construction_step_update' step.pk %}">{{ step }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit {{ step }}</li>
            {% else %}
            <li class="breadcrumb-item active" aria-current="page">New Step</li>
            {% endif %}
            {% endif %}
        </ol>
    </nav>
</div>

<!-- <div class="d-flex justify-content-center">
    <div class="col-md-2 col-lg-5">
        <div class="dash-right">
            <div class="widget-info margin-top-large">
                <div class="widget-head">
                    <h4><a href="#" title="">Step</a></h4>
                </div>
                <div class="widget-body">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
   <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <div class="widget-head">
                        <h4><a href="#" title="">Step</a></h4>
                    </div>
                    <form method="post">{% csrf_token %}
                        <!--{{ form.as_p }}-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="inputSchoolName">Name</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputSchoolName">Name [de]</label>
                                {{ form.name_de }}
                            </div>
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Order</label>
                                {{ form.order }}
                            </div>
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Image</label>
                                {{ form.image }}
                            </div>
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Icon</label>
                                {{ form.icon }}
                            </div>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-success"><i class="la la-plus"></i> Submit</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    {% render_bundle 'site' 'js' %}
{% endblock extra_script %}

