{% extends '_base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}

<div class="row no-gutters">
    <div class="col-md-12">

    </div>
    <div class="col-md-8 col-lg-9">
        <div class="dash-left">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-info margin-top-large">
                        <div class="widget-head">
                            <h4><a href="#" title="">Materials &nbsp</a></h4>
                            <a href="{% url 'core:construction_substeps_delete' object.id %}" title=""
                               class="btn btn-sm btn-xs btn-primary"><i class="la la-delete"></i>Delete</a>
                            <a href="{% url 'core:construction_substeps_update' object.id %}" title=""
                               class="btn btn-sm btn-xs btn-primary"><i class="la la-edit"></i>Edit &nbsp</a>
                        </div>
                        <div class="widget-body">
                            {% if object.title %}
                            <h5>Name</h5><br>
                            {{ object.title }}
                            </p><br>{% endif %}{% if object.step %}
                            <p>
                            <h5>Step</h5><br>
                            <p>
                                {{ object.step }}
                            </p><br>{% endif %}

                            {% if object.primary_photos.all %}
                            <h5>Primary Photo</h5><br>
                            {% for primary_photo in object.primary_photos.all %}
                            <p>
                                <img src="{{ MEDIA_URL }}{{ primary_photo.image }}">
                            </p><br>
                            {% endfor %}
                            <br>
                            {% endif %}


                            {% if object.good_photos.all %}
                            <h5>Good Photo</h5><br>
                            {% for good_photo in object.good_photos.all %}

                            <p>
                                <img src="{{ MEDIA_URL }}{{ good_photo.image }}">
                            </p><br>
                            {% endfor %}
                            {% endif %}

                            {% if object.bad_photos.all %}
                            {% for bad_photo in object.bad_photos.all %}

                            <h5>Bad Photo</h5><br>
                            <p>
                                <img src="{{ MEDIA_URL }}{{ bad_photo.image }}">
                            </p><br>
                            {% endfor %}
                            {% endif %}
                            {% if object.description %}
                            <h5>Description</h5><br>
                            <p>
                                {{ object.description }}
                            </p><br>
                            {% endif %}

                            {% if object.order %}
                            <p>
                            <h5>Step</h5><br>
                            <p>
                                {{ object.order }}
                            </p><br>{% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block extra_script %}
{% render_bundle 'project' 'js' %}
{% endblock extra_script %}