{% extends "_base.html" %}

{% load static %}
{% block extra_css %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script type="text/javascript" src="{% static 'assets/formset/jquery.formset.js' %}"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
        $(function() {
            $(".inline.{{ primary_photo_form.prefix }}").formset({
                prefix: "{{ primary_photo_form.prefix }}",
            })

        })

     $(function() {
            $(".inline.{{ good_photo_form.prefix }}").formset({
                prefix: "{{ good_photo_form.prefix }}",
            })

        })

     $(function() {
            $(".inline.{{ bad_photo_form.prefix }}").formset({
                prefix: "{{ bad_photo_form.prefix }}",
            })

        })
    </script>
</head>

<body>
    <div class="container">
        <h3> Construction Sub Steps Form </h3>
        <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Primary Photo</legend>
                {{ primary_photo_form.management_form }}
                {{ primary_photo_form.non_form_errors }}
                {% for form in primary_photo_form %}
                    {{ form.id }}
                    <div class="inline {{ primary_photo_form.prefix }}">
                        {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}


                    </div>
                {% endfor %}
            </fieldset>

              <fieldset>
                <legend>Good Photo</legend>
                {{ good_photo_form.management_form }}
                {{ good_photo_form.non_form_errors }}
                {% for form in good_photo_form %}
                    {{ form.id }}
                    <div class="inline {{ good_photo_form.prefix }}">
                        {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}


                    </div>
                {% endfor %}
            </fieldset>

              <fieldset>
                <legend>Bad Photo</legend>
                {{ bad_photo_form.management_form }}
                {{ bad_photo_form.non_form_errors }}
                {% for form in bad_photo_form %}
                    {{ form.id }}
                    <div class="inline {{ bad_photo_form.prefix }}">
                        {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}


                    </div>
                {% endfor %}
            </fieldset>



            <input type="submit" class="btn-primary"/>
        </form>
    </div>
{% endblock %}
