{% extends 'base.html' %}

{% block content %}
    {% for project in projects %}

    <a href="{% url 'core:project_detail' project.pk %}">{{ project }}</a>
        <a href="{% url 'core:project_update' project.pk %}">Edit</a>
        <a href="{% url 'core:project_delete' project.pk %}">Delete</a>

        <a href="{% url 'userrole:userrole_create' project.pk %}">Add Project Manager</a>

    <br>

{% endfor %}

<br>

    <a href="{% url 'core:project_create' %}">Add Project</a><br>
    <a href="{% url 'core:user_create' %}">Create User</a></br>

</p>
{% endblock content %}