{% extends '_base.html' %}

{% block content %}

<div class="row no-gutters">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">{% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
        </div>
    <div class="col-md-4 col-lg-3">

                <div class="module-school-list">
                <p><a href="{% url 'core:project_create'%}" title="" class="btn btn-sm btn-xs btn-primary  btn-block"><i
                                        class="la la-caret-right"></i> Add Project</a></p>

                    <div class="school-wrap">

                        <ul class="school-list">

                            {% for project in projects %}
                            <li>
                                <a href="{% url 'core:project_dashboard' project.pk %}" title="">
                                    <img src="{{ MEDIA_URL }}{{ project.logo }}" class="project-logo" alt="">
                                    <h6>{{ project }}</h6>
                                    <span>{{ project.address }}</span>
                                </a>
                            </li>{% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="dash-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget-info margin-top-large">
                                <div class="widget-head">
                                    <h4><a href="#" title="">Project Info</a></h4>
                                </div>
                                <div class="widget-body">
                                    <h5>Total Projects</h5><br>
                                     <p>
                                         {{ total_projects }}
                                     </p><br>
                                    <h5>Total Project Managers</h5><br>
                                     <p>
                                         {{ total_project_managers }}
                                     </p><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget-info margin-top-large">
                                <div class="widget-head">
                                    <h4><a href="#" title="">Manage User</a></h4>
                                    <a href="{% url 'core:user_list'%}" title="" class="btn btn-sm btn-xs btn-primary"><i
                                        class="la la-caret-right"></i> More </a>
                                    <a href="{% url 'core:user_create'%}" title="" class="btn btn-sm btn-xs btn-primary"><i
                                        class="la la-caret-right"></i> Create User</a>

                                </div>
                                <div class="widget-body">

                                    {% for user in users %}
                                         {{ forloop.counter }}. {{ user }}<br>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock content %}