{% extends '_base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}
     <div class="row no-gutters">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">{% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">{{ project }}</a></li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
                    {% endif %}
                    <li class="breadcrumb-item"><a href="{% url 'core:site_detail' site.pk %}">{{ site }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Report List</li>
                </ol>
            </nav>
        </div>
        <div class="formHolder">
            <div class="widget-info margin-top-large">
                <div class="widget-head">
                    <div class="widget-body mt-2 horizontalForm">
                    {% for report in reports  %}
                    <li>
                            <a href="{% url 'core:report_detail' report.pk %}"><strong>{{ report.comment }}</strong></a>
                            <br>
                            {% if report.user %}
                                <a href="#" title="View details of user">
                                    <small><i class="la la-user"></i>Created by: {{ report.user }}</small>
                                </a><br>{% endif %}{% if object.date %}
                            <small class="site_icon_float" style=""><i class="la la-clock-o"
                                                                       aria-hidden="true"></i>{{ report.date }}
                            </small><br>{% endif %}{% if object.checklist.step %}
                            <small class="site_icon_float" style="">Step: {{ report.checklist.step }}</small><br>{% endif %}

                            {% if report.date %}
                                <small class="site_icon_float" style="">{{ report.date }}</small><br>{% endif %}


                        </li>
                    {% empty %}
                        No Reports Found.

                   {% endfor %}
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}
{% block extra_script %}
    {% render_bundle 'project' 'js' %}
{% endblock extra_script %}