{% extends '_base.html' %}

{% load static %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">{% if request.user.is_superuser %}
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
        {% endif %}
            <li class="breadcrumb-item"><a href="{% url 'core:site_detail' site.pk %}">{{ site }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Document Form</li>
        </ol>
    </nav>
<!--     <div class="d-flex justify-content-center">
        <div class="col-md-2 col-lg-5">
            <div class="dash-right">
                <div class="widget-info margin-top-large">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary">

                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="formHolder">
        <div class="widget-info margin-top-large">
            <div class="widget-head">
                <div class="widget-body mt-2 horizontalForm">
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">File</label>
                                {{ form.file }}
                            </div>
                            <div class="form-group col-md-12">
                            <label for="inputSchoolName">Document Name</label>
                                {{ form.document_name }}
                            </div>
                        <div class="">
                            <button type="submit" class="btn btn-success"></i> Submit</button>
                         </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_script %}
    {% render_bundle 'site' 'js' %}
{% endblock extra_script %}