{% extends '_base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">{% if request.user.is_superuser %}
            <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
        {% endif %}
            <li class="breadcrumb-item"><a href="{% url 'core:site_detail' site.pk %}">{{ site }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Document Form</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-center">
        <div class="col-md-2 col-lg-5">
            <div class="dash-right">
                <div class="widget-info margin-top-large">
                    <form action="" method="post">{% csrf_token %}
                        <p>Are you sure want to delete {{ object }} ?</p>
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}