{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load get_files from webpack_loader %}

{% block content %}
<h3> Steps</h3>
<p>
    {% if is_project == "0" %}
    <a href="{% url 'core:site_detail'  pk %}">Site Detail</a><br>
    {% endif %}
</p>

<div id="app"></div>


{% endblock content %}

{% block extra_script %}
<script>
    var template_data = template_data ||  {};
    template_data.is_project={{is_project}};
    template_data.pk={{pk}};

</script>
{% render_bundle 'steps' 'js' %}
{% endblock extra_script %}