{% extends '_base.html' %}
{% block content %}

    <div class="row no-gutters">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">{% if request.user.is_superuser %}
                    <li class="breadcrumb-item"><a href="{% url 'core:admin_dashboard' %}">Dashboard</a></li>
                    {% else %}<li class="breadcrumb-item"><a href="{% url 'core:project_dashboard' project.pk %}">Dashboard</a></li>
                    {% endif %}<li class="breadcrumb-item"><a href="{% url 'core:site_detail' object.pk %}">{{ object }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="dash-left">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-info margin-top-large">
                            <div class="widget-head">
                                <form action="" method="post">{% csrf_token %}
                                    Are you sure you want to delete {{ object }}
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}